<div class="container">
    <div class="products">
        <table border="1">
            <tr *ngFor="let product of products">
                <td (click)="selectProduct(product)">
                    {{product.ProductDescription}}
                </td>
            </tr>
        </table>
    </div>
    <div *ngIf="selectedProduct" class='product-info'>
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr *ngFor="let key of objectKeys(selectedProduct)">
                <ng-template [ngIf]="selectedProduct[key]!==null" [ngIfElse]="unknown">
                    <td>{{key}}</td>
                    <td>{{selectedProduct[key]}}</td>
                </ng-template>
                <ng-template #unknown>
                    <td>{{key}}</td>
                    <td>it's unknown</td>
                </ng-template>
            </tr>
        </table>

        <button (click)='selectProduct()'>close</button>
    </div>
</div>